@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// @import './../../Assets/styles/assets.scss';

//colors

$primary: rgba(49, 48, 55, 1);

$primary-light: rgba(91, 90, 98, 1);

$secondary: rgba(168, 168, 168, 1);

$white: rgba(255, 255, 255, 1);

$gray: rgba(231, 231, 231, 1);

$light-gray: rgba(247, 247, 247, 1);

$light-red: rgba(252, 133, 127, 1);

$blue: rgba(215, 228, 253, 1);

$green: rgba(202, 239, 240, 1);

$orange: rgba(254, 233, 226, 1);

$purple: rgba(244, 238, 253, 1);