@import './../../Assets/styles/assets.scss';

.titleWrapper {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 56px;
  color: $primary;
  line-height: 64px;
  margin-top: 32px;
}
