@import './../../Assets/styles/assets.scss';



.bookPageContainer {
  width: 1120px;
  display: flex;
  flex-direction: column;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $primary;
  line-height: 32px;
  margin-top: 77px;

  .bookInfoContainer {
    display: flex;
    justify-content: space-between;
    

    .bookImageContainer {

      .bookBackground {
        display: flex;
        width: 544px;
        height: 472px;
        background: $purple;
        justify-content: center;

        .favButton {
          height: 34px;
          width: 34px;
          background-color: $primary;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.3s;
          border: none;

          padding: 8px;
          position: absolute;
          left: calc(46% + 4px);

          .favButtonNormal {
            position: absolute;
            visibility: visible;
            z-index: 1;

            &.isActive {
              visibility: hidden;
            }
          }

          .favButtonActive {
            position: absolute;
            visibility: hidden;
            z-index: 5;

            &.isActive {
              visibility: visible;
            }
          }

          &.isActive {
            visibility: hidden;
          }
        }
      }
    }


    .bookInfoWrapper  {
      border-top: 1px solid $gray;

      .dividerLineSmall {
        width: 448px;
        height: 1px;
        background: $white;
        margin-bottom: 25px;
      }

      .detailsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .priceWrapper {
          font-weight: 700;
          font-size: 40px;
        }

        .textWrapper {
          font-size: 16px;
          color: $secondary;
        }

        .authorWrapper {
          display: flex;
          justify-content: flex-end;
          width: 65%;
          text-align: right
        }
      }

      .buttonWrapper {
        width: 100%;
        margin: 25px 0;
      }

      .detailsUrl {
        text-align: center;

        a {
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 400;
          font-size: 20px;
          color: $primary;
          line-height: 133%;
          text-decoration: none
        }
      }
    }
  }

  .switcher {
    margin-top: 70px;
  }
  .infoText {
    padding: 50px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $primary;
    line-height: 32px;
  }
  
  .titlesWrapper {
    display: flex;
    gap: 120px;

    .oneTitleWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .dividerLine {
        width: 161px;
        height: 2px;
        background: $primary;
      }
    }          
  }

  .descWrapper {
    padding: 50px 0;
  }

  .IconsWrapper {
    display: flex;
    gap: 25px;
  }

  .secondTitleContainer {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: $primary;
    line-height: 60px;

    .arrowsWrapper {
      display: flex;
    }
  }

  .popularBooksContainer {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}





























