@import './../../Assets/styles/assets.scss';

.searchContainer {
  width: 1120px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .searchWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1120px;
    gap: 32px;
  }
}



.searchInput {
  position: absolute;
  top: 1%;
  left: 35%;
  height: 56px;
  width: 542px;
  border: 1px solid $gray;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $primary;
  line-height: 133%;

  padding: 0 10px;


  &:focus {
    outline: 2px solid $gray;
  }


  &::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $secondary;
    line-height: 133%;
  }
}


